/*--reset css--*/
ul,ol{
    list-style: none;
}
img{
    width: 100%;
}
*{
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: "Montserrat", sans-serif;
}
h1{
    font-family:  "Nerko One", cursive;
    color: orange;
    border: 1px;
    font-size: 18px;
    background-color: white;
    width: 100%;
    padding: 5px;
}
.main{
    background-color: whitesmoke;
}
/*--Desktop version 1st--*/
.container{
    width: 750px;
    margin: 0% auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    max-width: 750px;
}
.col-12{
    width: 100%;
}
.col-8{
    width: calc(100%*8/12);
}
.col-4{
    width: calc(100%*4/12);
    background-color: white;
    margin-bottom: 5px;
}
.text{
    width: 100%;
}
.col-4>*{
    padding-left: 20px;
    margin-bottom: 15px;
}
.row-social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
}
.btn-social{
    background-color: white;
    border-radius: 15px;
    width: 110px;
}
.row-banner{
    width: 100%;
    margin: 0% auto;
}
.img-tiramisu{
    float: left;
    width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
}
/*--section media query--*/
@media (max-width: 700px) {
    .col-8{
        width: 100%;
    }
    .text{
        display: inline-block
    }
    .col-4{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .row-social{
        width: 100%;
        justify-content: space-between;
    }
    .icon-name{
        display: none;
    }
}  /*--query for tablet--*/
/*--starting query for mobile--*/
@media (max-width:430px) {
   
    .header-logo{
        text-align: center;
    }
    .dolce{
        display: none;
    }
    .icon-name{
        display: none;
    }
    .btn-social{
        width: 50px;
        border-radius: 16px;
    }
    .row-banner{
        display: none;
    }
    .img-tiramisu{
        float: none;
        width: 150px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
    }
    .col-4{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }


    
}